
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

body {
  /* overflow: hidden; */
  font-family: 'Inter', sans-serif;
  font-weight: 800;
}
.app {
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12px;
}
.main {

  width: 90%;
  background-color: #fac5c5ee;
  height: 90vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;

  overflow: hidden;

}

.PageTitle {
  font-size: 2rem;
  margin: 20px 0;
  color: #022c43;
}


.container {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  justify-content: center;

  width: 100%;

  margin: 0 auto;

  overflow-y: auto;
  padding-bottom: 50px;
  scrollbar-width: none;
  perspective: 1500px;
  perspective-origin: center center;
}


figure {
  flex: 1 1 calc(20% - 20px);
  max-width: calc(20% - 20px);
  width: 220px;
  height: 300px;
  margin: 0;

  cursor: pointer;
  flex-shrink: 0;
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  will-change: transform;
  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
}






figure .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: transform 0.8s ease;
  transform-origin: center center;
  will-change: transform;

  transform: translate3d(0, 0, 1px);
  -webkit-transform: translate3d(0, 0, 1px);
}

figure.flipped .content {
  transform: rotateY(180deg) translate3d(0, 0, 1px);
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 1px);
}

.front,
.back {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid #ddd;

  transform: translate3d(0, 0, 1px);
  -webkit-transform: translate3d(0, 0, 1px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  padding: 10px;
}


.front {
  background-color: #fff;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  border: 1px solid #ddd;
  padding: 10px;
}

.front img {
  display: block;
  width: 90%;
  height: 75%;
  object-fit: cover;
  border: 1px solid #ccc;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
  margin-top: 10px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  user-select: none;
}

.front figcaption {
  width: 100%;
  text-align: center;
  margin-top: px;
  font-size: 60px;
  color: #333;
  padding-bottom: 10px;
}


.back {
  background: #fff;
  color: #333;
  transform: rotateY(180deg) translate3d(0, 0, 1px);
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  padding: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.back p {
  font-size: 18px;
}


.vowel-card {
  background-color: #ffe6f0;
  border-color: #ff66b2;
}

header {
  width: 100%;
  height: 50px;
  color: white;
  background-color: #232637;
  margin: 0px;
  box-sizing: border-box;
  padding: 13px 40px;
}

.title-holder {
  display: inline-block;
  width: 200px;
  line-height: 1;
  position: absolute;
  left: 10%;
  transform: translateX(-50%);
}

.title {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: #f9d566;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  border-right: 3px solid #f9d566;
  animation: typewriter 5s steps(14) infinite, blinking-cursor 0.8s infinite;
  animation-fill-mode: forwards;
}

@keyframes typewriter {
  0% {
    width: 0;
  }
  25% {
    width: 160px;
  }
  48% {
    width: 160px;
  }
  50% {
    width: 160px;
  }
  55% {
    width: 160px;
  }
  75% {
    width: 120px;
  }
  85% {
    width: 60px;
  }
  100% {
    width: 0;
  }
}

@keyframes blinking-cursor {
  from {
    border-color: transparent;
  }
  to {
    border-color: #f9d566;
  }
}

ul {
  list-style-type: none;
  margin: 0px;
}
header li {
  border: 0px dotted red;
  display: inline;
  font-size: 15px;
  text-align: right;
  padding: 0px 20px;
  float: right;
}
header li:first-child {
  padding-right: 0px;
}
header li:first-child {
  border-left: 1px solid #f9d566;
}
header a {
  text-decoration: none;
  color: #f9d566;
}
