.st-nav {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 34px;
  background: #f9d566;
  z-index: 10;
}

.st-btn {
  flex: 1;
  text-align: center;
  color: #232637;
  font-weight: 700;
  text-decoration: none;
  font-size: 16px;
  line-height: 34px;
  background: #f9d566;
  position: relative;
}

.st-btn:hover {

  background: #7e7f86;;
}


.st-btn.active {
  color: #f9d566;
  background: #232637;;
}

.st-btn.active:hover {
  background: #232637;;
}

.st-btn.active::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-top-color: #232637;;
}
