@import "tailwindcss";
@import "tw-animate-css"; /* optional for extra animations */

@layer components {
  @keyframes typewriter {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 100%;
    }
  }

  .animate-typewriter {
    animation: typewriter 6s steps(20, end) infinite;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid currentColor;
    padding-right: 2px;
  }
}


